<div class="media bg-white border td-card__content" ng-class="$ctrl.isActiveCard ? 'border-primary' : ''">
    <img class="d-flex mr-3 rounded-circle"
         src="{{$ctrl.cardImage}}"
         alt="Image"
         style="height: 64px">
    <div class="media-body">
        <h5 class="mt-0" ng-class="$ctrl.isActiveCard ? 'text-primary' : ''">{{$ctrl.cardTitle}}</h5>
        <span class="text-secondary">{{$ctrl.cardDesc | limitTo:220}}{{$ctrl.cardDesc.length  > 220 ? ' ...' : ''}}</span>
    </div>
</div>
