<div class="row">
    <div class="col-12">
        <h2 class="wizard-tab-content__title">Select Beverage</h2>
        <p>While you taking a Test Drive you can get free drinks</p>
    </div>
</div>
<div class="row pr-3">
    <td-card class="col-md-6 col-sm-12 p-0 pt-3 pl-3"
             ng-repeat="expert in experts"
             card-image="expert.photo_url"
             card-title="expert.title"
             card-desc="expert.description"
             is-active-card="expert.title == $ctrl.userData.expert.title"
             ng-click="$ctrl.expertChanged(expert.title)">
    </td-card>
</div>
<p></p>
<td-wizard-step-button></td-wizard-step-button>