.site-details-template {

}
.site-details-template-header {

}
.site-details-title {
  padding: 25px;
}
.site-details-title-text {
  font-size: 30px;
}
.site-details-title-site-name-text {
  font-size: 30px;
}
.site-details-template-body {

}