<div class="test-drive-modal-body-edit-entity-container">
    <div class="row test-drive-modal-body-edit-entity-container-row-image">
        <div class="col-12">
            <image-select [isReadOnly]="isImageComponentReadOnly()"
                          [imageUrl]="entity.photoUrl"
                          [defaultImageUrl]="defaultImageUrl"
                          [imageWidth]="imageWidth"
                          [imageHeight]="imageHeight"
                          [isRounded]="isImageRounded"
                          [imageAlt]="imageAlt"
                          [columnRules]="columnRules"
                          [forceAcceptImage]="forceAcceptImage"
                          (imageUrlSelected)="onNewImageSelected($event)"
                          (resetForceAcceptImage)="onResetForceAcceptImage($event)"></image-select>
        </div>
    </div>
    <hr>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="expertName"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertName
                </label>
                <input id="expertName"
                       name="expertName"
                       type="text"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidName(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.name">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidName(entity)"
                       translate>
                    experts.modal.expertNameHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidName(entity)"
                       translate>
                    {{ validationService.getInvalidNameMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="expertTitle"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertTitle
                </label>
                <input id="expertTitle"
                       name="expertTitle"
                       type="text"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidTitle(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.title">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidTitle(entity)"
                       translate>
                    experts.modal.expertTitleHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidTitle(entity)"
                       translate>
                    {{ validationService.getInvalidTitleMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="expertDescription"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertDescription
                </label>
                <textarea id="expertDescription"
                       name="expertDescription"
                       type="text"
                       rows="3"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidDescription(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.description"></textarea>
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidDescription(entity)"
                       translate>
                    experts.modal.expertDescriptionHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidDescription(entity)"
                       translate>
                    {{ validationService.getInvalidDescriptionMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row hidden-lg-up test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="expertEmail"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertEmail
                </label>
                <input id="expertEmail"
                       name="expertEmail"
                       type="email"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidEmail(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.email">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidEmail(entity)"
                       translate>
                    experts.modal.expertEmailHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidEmail(entity)"
                       translate>
                    {{ validationService.getInvalidEmailMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row hidden-lg-up test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="expertPhoneNumber"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertPhoneNumber
                </label>
                <input id="expertPhoneNumber"
                       name="expertPhoneNumber"
                       type="tel"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidPhoneNumber(entity))"
                       [disabled]="isComponentReadOnly()"
                       [textMask]="{mask: usaPhoneMask}"
                       [(ngModel)]="entity.phoneNumber">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidPhoneNumber(entity)"
                       translate>
                    experts.modal.expertPhoneNumberHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidPhoneNumber(entity)"
                       translate>
                    {{ validationService.getInvalidPhoneNumberMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row hidden-md-down test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-6">
            <div class="form-group">
                <label for="expertEmailCol6"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertEmail
                </label>
                <input id="expertEmailCol6"
                       name="expertEmail"
                       type="email"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidEmail(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.email">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidEmail(entity)"
                       translate>
                    experts.modal.expertEmailHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidEmail(entity)"
                       translate>
                    {{ validationService.getInvalidEmailMessageKey(entity) }}
                </small>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="expertPhoneNumberCol6"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.expertPhoneNumber
                </label>
                <input id="expertPhoneNumberCol6"
                       name="expertPhoneNumber"
                       type="tel"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidPhoneNumber(entity))"
                       [disabled]="isComponentReadOnly()"
                       [textMask]="{mask: usaPhoneMask}"
                       [(ngModel)]="entity.phoneNumber">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidPhoneNumber(entity)"
                       translate>
                    experts.modal.expertPhoneNumberHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidPhoneNumber(entity)"
                       translate>
                    {{ validationService.getInvalidPhoneNumberMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="linkedinUrl"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.linkedinUrl
                </label>
                <input id="linkedinUrl"
                       name="linkedinUrl"
                       type="text"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidLinkedInUrl(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.linkedinUrl">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidLinkedInUrl(entity)"
                       translate>
                    experts.modal.linkedinUrlHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidLinkedInUrl(entity)"
                       translate>
                    {{ validationService.getInvalidLinkedInUrlMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="facebookUrl"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.facebookUrl
                </label>
                <input id="facebookUrl"
                       name="facebookUrl"
                       type="text"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidFacebookUrl(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.facebookUrl">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidFacebookUrl(entity)"
                       translate>
                    experts.modal.facebookUrlHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidFacebookUrl(entity)"
                       translate>
                    {{ validationService.getInvalidFacebookUrlMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-12">
            <div class="form-group">
                <label for="employeeId"
                       class="test-drive-input-label"
                       translate>
                    experts.modal.employeeId
                </label>
                <input id="employeeId"
                       name="employeeId"
                       type="text"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidEmployeeId(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.employeeId">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidEmployeeId(entity)"
                       translate>
                    experts.modal.employeeIdHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidEmployeeId(entity)"
                       translate>
                    {{ validationService.getInvalidEmployeeIdMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="custom-control custom-checkbox">
                <input type="checkbox"
                       name="isPartOfTeamNewCars"
                       class="custom-control-input"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.isPartOfTeamNewCars">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"
                      translate>
                    experts.modal.isPartOfTeamNewCars
                </span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="custom-control custom-checkbox">
                <input type="checkbox"
                       name="isPartOfTeamUsedCars"
                       class="custom-control-input"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.isPartOfTeamUsedCars">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"
                      translate>
                    experts.modal.isPartOfTeamUsedCars
                </span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="custom-control custom-checkbox">
                <input type="checkbox"
                       name="isPartOfTeamCPO"
                       class="custom-control-input"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.isPartOfTeamCPO">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"
                      translate>
                    experts.modal.isPartOfTeamCPO
                </span>
            </label>
        </div>
    </div>
    <hr>
    <div class="row test-drive-modal-body-edit-entity-container-row-input">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <button class="btn btn-sm btn-info pull-left experts-week-intervals-accordion-control-btn"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseWeekSchedule"
                            aria-expanded="false"
                            aria-controls="collapseWeekSchedule">
                        <i class="fa fa-list-alt"></i>
                        <span translate>experts.modal.weekSchedule</span>
                    </button>
                </div>
            </div>
            <div id="collapseWeekSchedule"
                 class="collapse {{getWeekScheduleDefaultClass()}}">
                <div class="card card-block">
                    <working-hours-simple [workingHours]="entity.workingHours"
                                          [isComponentReadonly]="isWeekScheduleComponentReadOnly(entity)"
                                          (workingHoursChanged)='onActualizeWorkingHours($event)'>
                    </working-hours-simple>
                </div>
            </div>
        </div>
    </div>
</div>