<div class="media bg-white  td-card__content" ng-class="$ctrl.isActiveCard ? 'td-card__border--selected' : 'border'">
    <img class="d-flex mr-3 rounded-circle"
         ng-src="{{$ctrl.cardImage}}"
         alt="Image"
         style="height: 64px">
    <div class="media-body td-card__body">
        <h5 class="mt-0"
            ng-class="$ctrl.isActiveCard ? 'td-card__text--selected' : ''">
            {{$ctrl.cardTitle}}
        </h5>
        <a class="text-secondary"
           ng-text-truncate="$ctrl.cardDesc"
           ng-tt-chars-threshold="64">
        </a>
    </div>
</div>
