.routes-table-template {
  margin-top: 25px;
}
.routes-table-body {

}
.routes-table-body-column-actions {
  width: 140px;
}
.routes-table-body-column-photo {
  width: 80px;
}
.routes-table-body-column-order {

}
.routes-table-body-column-activity {

}
.routes-table-body-column-name {

}

.route-modal-header-text {

}
.route-avatar-image {
  width: 180px;
  height: 180px;
}
.route-avatar-btns {

}
.route-avatar-browse {

}
.route-avatar-change-url {

}