.routes-table-template {
  margin-top: 25px;
}
.routes-table-body {

}
.routes-table-body-column-actions {
  width: 140px;
}
.routes-table-body-column-photo {
  width: 80px;
}
.routes-table-body-column-order {

}
.routes-table-body-column-activity {

}
.routes-table-body-column-name {

}

.route-modal-header-text {

}
.route-avatar-image {
  width: 180px;
  height: 180px;
}
.route-avatar-btns {

}
.route-avatar-browse {

}
.route-avatar-change-url {

}
.routes-table-body-row-active {
  background-color: #f1f8e9;
}
.routes-table-body-row-active:hover {
  cursor: pointer;
  background-color: #dcedc8;
}
.routes-table-body-row-not-active {
  background-color: #fff3e0;
}
.routes-table-body-row-not-active:hover {
  cursor: pointer;
  background-color: #ffe0b2;
}