.vipdrv--disable-scroll {
  overflow: hidden;
}

.test-drive__frame-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.48);
  z-index: 2147483647;
  transform: scale(0);
  will-change: transform;
}

.test-drive-visible {
  transform: scale(1);
  transition: transform 300ms;
}

.test-drive__content {
  width: 1022px;
  height: 636px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  // overflow: hidden;
  transform: scale(0);
  transition: transform 300ms;
  will-change: transform;
}

@media (max-width: 1022px), (max-height: 648px) {
  .test-drive__content {
    width: 100%;
    height: 100%;
  }
}

.test-drive__content-visible {
  transform: translate(-50%, -50%);
}

.frame-header {
  // height: 10%;
  // min-height: 50px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-shadow: 0px 1px 1px #868686;
  overflow: hidden;
  // display: none;
  display: block;
}

.frame-header__title {
  margin-left: 5%;
  width: 90%;
  text-align: center;
  float: left;
  line-height: 50px;
}

@media (max-width: 1022px) {
  .frame-header__title {
    width: 70%;
    margin-left: 15%;
  }
}

.frame-header__cross {
  width: 5%;
  float: left;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1022px) {
  .frame-header__cross {
    width: 15%;
  }
}

.frame-header__cross:hover {
  font-weight: bold;
}

.test-drive__frame {
  width: 100%;
  height: calc(100% - 50px);
  // overflow: hidden;
}

#test-drive__frame-spinner {
  width: 100px;
  background-repeat: no-repeat;
  margin: 20% auto 100%;
  display: table;
}

/* ======================================================================= */
/* Dirty hack overflow chat window on https://www.vipdrv.com/
/* Will expand that list later with another page Add's
/* ======================================================================= */

/* Hubspot */

#hubspot-messages-iframe-container {
  z-index: 2147483646 !important;
}

/* ======================================================================= */
/* Autoinjection styles of TestDrive buttons for Dealer sites
/* ======================================================================= */

/* Marin */

.vipdrv-marin-vlp-button {
  width: 100% !important;
  display: table;
}

.vipdrv-marin-vlp-button-mobile {
  width: 100% !important;
  display: table;
  margin: 5px auto 0px;
}

.vipdrv-marin-vdp-button {
  width: 100%;
  display: table;
  max-width: 650px;
  margin: 0 auto;
  border: 0px;
  height: 54px;
  background-color: #176db7;
  background-image: url(https://widget.testdrive.pw/integration/img/marin-vdp-button.png);
  background-repeat: no-repeat;
  background-position: center;
}

.vipdrv-marin-vdp-button:hover {
  background-color: #11528a;
}

/* http://www.mbrvc.com  */

.vipdrv-mbrvc-vlp-button {
  background-color: #176EB7;
  border: none;
  color: #fff;
  width: 100%;
  height: 30px;
  font-size: 14px;
}

.vipdrv-mbrvc-vlp-button:hover {
  background-color: #11528a;
}

.vipdrv-mbrvc-vlp-button-mobile {
  display: inline;
  float: right;
  height: 32px;
  margin: 10px 0px 0px 0px;
  background-color: #176db7;
  border: none;
  color: #fff;
  padding: 0px 10px;
  font-size: 13px;
}

.vipdrv-mbrvc-vlp-button-mobile:hover {
  background-color: #11528a;
}

.vipdrv-mbrvc-vdp-button {
  width: 100%;
  border: none;
  height: 50px;
  background-color: #176db7;
  background-image: url(https://widget.testdrive.pw/integration/img/mbrvc-vdp-button-orange.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.vipdrv-mbrvc-vdp-button:hover {
  background-color: #11528a;
}

.ctabox-inner .check-col {
  display: table;
  height: 50px;
  width: 45%;
}

.ctabox-inner .check-col #buy-vehicle {
  display: table-cell;
  vertical-align: middle;
  padding: 0px;
}

.ctabox-inner .test-col {
  width: 55%;
}

/* http://inventory.testdrive.pw  */

//.vipdrv-truckworld-vlp-button {
//  background-color: #000000 !important;
//  background-image: url(https://widget.testdrive.pw/integration/img/truckworld-vlp-button.png);
//  background-repeat: no-repeat;
//  background-position: center;
//  height: 42px;
//  width: 100%;
//  display: table;
//}
//.vipdrv-truckworld-vlp-button:hover {
//  background-color: #0064cf !important;
//}

//.vipdrv-truckworld-vdp-button {
//  /*background-image: url(/wp-content/themes/truckworld/img/test-drive/Schedule_VIPdrv_button_blue.png);*/
//  /*background-size: auto 83px;*/
//  background-image: url(https://widget.testdrive.pw/integration/img/truckworld-vlp-button.png);
//  background-color: #000000;
//  background-repeat: no-repeat;
//  background-position: center;
//  height: 82px;
//  width: 100%;
//  display: table;
//  margin: 10px auto 0px;
//  border: none;
//}
//
//.vipdrv-truckworld-vdp-button:hover {
//  background-color: #0064cf !important;
//}