.top-buffer-14 {
  margin: 14px 0px 0px 0px;
}

.td-car-details {
  background-color: #ffffff;
  padding: 8px;
  height: 600px;
  overflow: hidden;
}



.td-car-details__content {
  margin: 4px 4px 0px;
}

.td-car-details__title {
  color: #2178cf;
  font-size: 22px;
  font-weight: 100;
}

.td-car-details__option-title {
  color: #c5c5c5;
  font-size: 12px;
}

.td-car-details__option-text {
  color: #434343;
  font-size: 15px;
  margin: 2px 0px 0px 0px;
}

/* ====================================== Drive Details ======================================== */

.td-drive-details__content {
  margin: 24px 0px 0px 0px;
}

.td-car-details__options-row {
  margin: 10px 0px 0px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.td-car-details__options-row-last {
  margin: 10px 0px 0px 0px;
}

.td-drive-details__row-image {
  line-height: 50px;
  vertical-align: middle;
}

.details__row-text {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.td-drive-details__row-text {
  font-size: 14px;
  margin: 0px 0px 0px 8px;
}

