@import "themes/theme-blue";

/* ========================================== Global =========================================== */

.td-main-container {
  margin: 0px;
  width: 100%;
  //overflow: hidden;

  position: absolute;
  height: 100%;

  left: 0;
  top: 0;
}

/* =========================================== Tabs ============================================ */

.td-tabs {
  background-color: $theme-main-color;
}

.td-nav__tab {
  height: 50px;
  padding-left: 0;
  padding-right: 0;
}

.td-tabs__content {
}

.td-tabs-container {
  margin-top: 5px;
  background-color: $tab-background-color;

}

.td-wizard {
  background-color: $tab-background-color;

}

.td-tab-header {
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  color: $theme-font-color;
  background-color: $theme-main-color;
  font-weight: 200;
  cursor: pointer;
}

.td-tab-header,
.td-tab-header:hover {
  cursor: pointer;
}

.td-tab-header__title {
  display: inline-block;
  transform: scale(1.0);
  transition: transform 300ms;

}

.td-tab-header:hover .td-tab-header__title {
  transform: scale(1.1);
}

.td-tab-header.td-tab-header-locked:hover .td-tab-header__title {
  transform: scale(1.0);
}

.td-tab-header-active {
  box-shadow: 0 5px 0 transparentize($theme-sub-color, 0.1);
  font-weight: 400;
}

.td-tab-header-completed {
  box-shadow: 0 5px 0 $theme-sub-color;
}

.td-tab-header-locked:hover {
  cursor: default;
  font-size: 100%;
}

.tab-title,
.user-details__heading {
  color: #6b6b6b;
  font-size: 28px;
  font-weight: 100;
}

.tab-sub-title,
.user-details__subheading {
  color: #999999;
  font-size: 14px;
  margin: 2px 0px 0px 0px;
  display: table;
}

.user-details__email-input-container {
  margin: 0 auto;
  margin-top: 24px;
}

/* ======================================== Time Tab ======================================== */

.td-calendar {
  margin: 24px 0px 0px 0px;
}

.td-time-select__item {
  width: 82px;
  height: 44px;
  border: 1px solid #e6e6e6;
  color: $font-color;
  background-color: #ffffff;
  display: table;
  line-height: 44px;
  vertical-align: middle;
  text-align: center;
  margin: 0px 10px 10px 0px;
  font-size: 17px;
  float: left;
  cursor: pointer;
}

.td-time-select__item:hover {
  background: lighten($theme-main-color, 80%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.td-time-select__item:active {
}

.td-time-select__item--active {
  border: 1px solid $theme-main-color;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 110%;

}

.fixed-calendar {
  //width: 100%;
  //height: 340px;
  //padding: 12px;
  //display: block;
}

//.fixed-calendar .md-calendar-scroll-mask {
//  width: 340px !important;
//}
//
//.fixed-calendar .md-virtual-repeat-scroller {
//  width: 340px !important;
//  height: 308px;
//}

/* ====================================== Complete Step ======================================== */

.td-complete-step {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.td-complete-step__title {
  font-size: 30px;
  color: $grey-text;
  text-align: center;
  display: block;
  font-weight: 100;
}

.td-complete-step__desc {
  font-size: 14px;
  color: $grey-text;
  text-align: center;
  display: block;
  font-weight: 100;
  margin: 10px 0px 0px 0px;
}

.td-complete-step__img {
  display: inline-block;
  margin: 26px auto 0px;
}

/* ========================================== Shared =========================================== */

.td-next-step-btn,
.user-details__next-button {
  color: #fff;
  background-color: $theme-main-color;
  border: none;
  padding: 12px 40px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: block;
}

.td-complete-step__btn {
  margin: 30px auto 0px;
  width: 100%;
  text-align: center;
  max-width: 275px;
  text-decoration: none;
}

.user-details__button-container {
  text-align: center;
}

.user-details__next-button {
  display: inline-block;
}

.td-next-step-btn:active,
.user-details__next-button:active {
  font-size: 13.9px;
}

.td-next-step-btn:hover,
.user-details__next-button:hover {
  background-color: #2178AD;
}

.td-next-step-btn-disabled {
  background-color: #ffffff;
  color: $theme-main-color;
  border: 1px solid $theme-main-color;
}

.td-next-step-btn-disabled:hover {
  background-color: #ffffff;
}

.td-next-step-btn-disabled:active {
  font-size: 14px;
}
