@import "themes/theme-blue";

/* ========================================== Global =========================================== */

.td-main-container {
  margin: 0px;
  width: 100%;
  //overflow: hidden;

  position: absolute;
  height: 100%;

  left: 0;
  top: 0;
}

/* ======================================== Time Tab ======================================== */

.td-calendar {
  margin: 24px 0px 0px 0px;
}

.td-time-select__item {
  // width: 82px;
  height: 44px;
  border: 1px solid #e6e6e6;
  color: $font-color;
  background-color: #ffffff;
  text-align: center;
  font-size: 17px;
  line-height: 44px;
  // margin: 0px 0px 20px 0px;
  //cursor: pointer;
}

.td-time-select__item:hover {
  background: lighten($theme-main-color, 80%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.td-time-select__item:active {
}

.td-time-select__item--active {
  border: 1px solid $theme-main-color;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 110%;

}
/* ====================================== Complete Step ======================================== */

.td-complete-step {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.td-complete-step__title {
  font-size: 30px;
  color: $grey-text;
  text-align: center;
  display: block;
  font-weight: 100;
}

.td-complete-step__desc {
  font-size: 14px;
  color: $grey-text;
  text-align: center;
  display: block;
  font-weight: 100;
  margin: 10px 0px 0px 0px;
}

.td-complete-step__img {
  display: inline-block;
  margin: 26px auto 0px;
}

/* ========================================== Shared =========================================== */

.td-next-step-btn,
.user-details__next-button {
  color: #fff;
  background-color: $theme-main-color;
  border: none;
  padding: 12px 40px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: block;
}

.td-complete-step__btn {
  margin: 30px auto 0px;
  width: 100%;
  text-align: center;
  max-width: 275px;
  text-decoration: none;
}

.user-details__button-container {
  text-align: center;
}

.user-details__next-button {
  display: inline-block;
}

.td-next-step-btn:active,
.user-details__next-button:active {
  font-size: 13.9px;
}

.td-next-step-btn:hover,
.user-details__next-button:hover {
  background-color: #2178AD;
}

.td-next-step-btn-disabled {
  background-color: #ffffff;
  color: $theme-main-color;
  border: 1px solid $theme-main-color;
}

.td-next-step-btn-disabled:hover {
  background-color: #ffffff;
}

.td-next-step-btn-disabled:active {
  font-size: 14px;
}
