
.complete-booking-table {

}

.complete-booking-table__header {
  font-weight: 600;
  font-size: 14pt;
  vertical-align: middle !important;
  text-align: center;
}

.complete-booking-table__image {
  height: 80px;
}