// =======================================================================//
// Dirty Hack                                                             //
// =======================================================================//

.test-drive-widget__root {
  min-height: 586px;
  overflow: hidden;
}

@media (max-width: 1022px) {
  .test-drive-widget__root {
    height: calc(100vh);
  }
}

@media (max-height: 648px) {
  .test-drive-widget__root {
    height: calc(100vh);
  }
}