// =======================================================================//
// global                                                                 //
// =======================================================================//

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

.text-overflow__ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-spinner {
  margin: 20% auto 0%;
  display: table;
}


// =======================================================================//
// wizard-navigation
// =======================================================================//

.td-wizard__root {
  height: calc(100% - 55px);
}

.td-wizard {
  background-color: #f3f3f3;
}

.wizard-navigation-tab {
  cursor: pointer;
  margin-bottom: 5px;
}

.wizard-navigation-tab__content {
  height: 50px;
}

.wizard-navigation-tab__text {
  text-align: center;
  line-height: 45px; // govnocode TODO: fix later
}

.wizard-navigation-tab__icon {
  text-align: center;
  line-height: 45px; // govnocode TODO: fix later
}

.wizard-navigation-tab__icon img {
  height: 36px;
}

.wizard-navigation-tab--active {
  box-shadow: 0 5px 0 transparentize($theme-sub-color, 0.1);
  font-weight: 400;
}

.wizard-navigation-tab--completed {
  box-shadow: 0 5px 0 $theme-sub-color;
}

.wizard-navigation-tab--locked {
  cursor: default;
}

.wizard-navigation-tab-next-button--desktop {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

// =======================================================================//
// wizard-tab-content                                                     //
// =======================================================================//

.wizard-tab-content__title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
}

// =======================================================================//
// wizard-card                                                            //
// =======================================================================//

.td-cards {
  max-height: calc(100% - 170px);
  overflow: auto;
}

@media (max-width: 758px) {
  .td-cards {
    //max-height: calc(240px);
    max-height: calc(100% - 228px);
  }
}

.td-card__content {
  padding: 1em;
  cursor: pointer;
  min-height: 104px;
}

.td-card__body {
  line-height: 1.3;
  font-size: 11pt;
}

// =======================================================================//
// time-intervals                                                         //
// =======================================================================//

.td-time__item {
  text-align: center;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

.td-time__item--active {
  color: #007bff;
  border: 1px solid #007bff;
}

.td-time__item--disabled {
  color: #dfdede;
  border: 1px solid #eee;
  cursor: default;
}

// =======================================================================//
// custom-scroll                                                          //
// =======================================================================//

.td-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.td-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.td-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #007bff;
}

@media (max-width: 758px) {
  .td-scrollbar::-webkit-scrollbar-track, .td-scrollbar::-webkit-scrollbar, .td-scrollbar::-webkit-scrollbar-thumb {
    display: none;
  }
}

// =======================================================================//
// complete-booking                                                       //
// =======================================================================//

.disclaimer-text {
  font-size: 10pt;
}

.complete-booking-table__header {
  font-weight: 600;
  font-size: 14pt;
  vertical-align: middle !important;
  text-align: center;
}

.complete-booking-table__image {
  height: 80px;
}

// =======================================================================//
// wizard-tab-content                                                     //
// =======================================================================//

.test-drive-widget__root {
  height: 100%;
  overflow: hidden;
  display: block; // table
}

// =======================================================================//
// Moment Picker                                                          //
// =======================================================================//

.moment-picker td.selected {
  background-image: linear-gradient(#007bff, #007bff) !important;
}

.moment-picker td.selected {
  background-color: #007bff !important;
}

.moment-picker td.highlighted {
  background-image: none !important;
}

// =======================================================================//
// Sidebar
// =======================================================================//

.td-sidebar__car-image {
  max-height: 158px;
  margin: 0 auto;
}

.sidebar-media-item__body {
  line-height: 1.8;
}

// =======================================================================//
// Event Button                                                           //
// =======================================================================//

.copyx {
  display: none !important;
}
