// =======================================================================//
// global                                                                 //
// =======================================================================//

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

// =======================================================================//
// wizard-tab-content                                                     //
// =======================================================================//

.test-drive-widget__root {
  height: 100%;
  overflow: hidden;
}

// =======================================================================//
// debug                                                                  //
// =======================================================================//

.moment-picker td.selected {
  background-color: #007bff !important;
}