.avatar-update-container {

}
.avatar-update-container-body {
  margin-bottom: 25px;
}
.avatar-update-container-footer {
  margin-top: 40px;
}
.avatar-update-row {
  margin-top: 25px;
  margin-bottom: 25px;
}
.avatar-update-url-input {
  margin-top: 100px;
}