<div class="leads-table-template">
    <div  class="leads-table-header">
        <div style="float: left;">
            <button type="button"
                    [disabled]="!!promiseService.applicationPromises.leads.getAll"
                    class="btn btn-secondary btn-sm pull-left leads-refresh-btn"
                    (click)="getAllEntities()">
                <i class="fa fa-refresh fa-spin" *ngIf="!!promiseService.applicationPromises.leads.getAll"></i>
                <i class="fa fa-refresh" *ngIf="!promiseService.applicationPromises.leads.getAll"></i>
            </button>
            <select class="form-control-sm leads-page-size-control"
                    [(ngModel)]="pageSize"
                    (change)="onPageSizeChanged($event)">
                <option *ngFor="let item of pageSizeValues"
                        [ngValue]="item">
                    {{item}}
                </option>
            </select>
        </div>
        <div style="float: left;"
             *ngIf="usePagination()">
            <pagination class="pagination-sm"
                        [disabled]="!!promiseService.applicationPromises.leads.getAll"
                        [(ngModel)]="pageNumber"
                        [totalItems]="totalCount"
                        [itemsPerPage]="pageSize"
                        [maxSize]="maxPaginationSize"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="onPageNumberChanged($event)"
                        (numPages)="numPages = $event">
            </pagination>
        </div>
        <div>
            <button type="button"
                    [disabled]="!!promiseService.applicationPromises.leads.exportToExcel"
                    class="btn btn-outline-primary btn-sm pull-right leads-export-btn"
                    (click)="exportDataToExcel()">
                <i class="fa fa-refresh fa-spin" *ngIf="!!promiseService.applicationPromises.leads.exportToExcel"></i>
                <i class="fa fa-file-excel-o" *ngIf="!promiseService.applicationPromises.leads.exportToExcel"></i>
                <span translate>leads.table.btnText_exportToExcel</span>
            </button>
        </div>
    </div>
    <table class="leads-table-body table table-bordered table-hover"
           [ngBusy]="promiseService.applicationPromises.leads.getAll">
        <thead>
        <tr>
            <th translate>leads.table.headerText_received</th>
            <th translate>leads.table.headerText_firstName</th>
            <th translate>leads.table.headerText_secondName</th>
            <th translate>leads.table.headerText_siteName</th>
            <th translate>leads.table.headerText_userEmail</th>
            <th translate>leads.table.headerText_userPhone</th>
            <th translate>leads.table.headerText_expertName</th>
            <th translate>leads.table.headerText_roadName</th>
            <th translate>leads.table.headerText_beverageName</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items"
            (click)="modalOpenInfo(item.id)">
            <td>{{item.recievedDateTime}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.secondName}}</td>
            <td>{{item.siteName}}</td>
            <td>{{item.userEmail}}</td>
            <td>{{item.userPhone}}</td>
            <td>{{item.expertName}}</td>
            <td>{{item.routeName}}</td>
            <td>{{item.beverageName}}</td>
        </tr>
        </tbody>
    </table>
</div>

<modal #leadDetailsInfoModal
       [backdrop]="'static'">
    <modal-header>
        <span class="lead-modal-header-text" translate>leads.modal.title</span>
    </modal-header>
    <modal-body>
        <div *ngIf="isSelectedEntityDefined()"
             [ngBusy]="promiseService.applicationPromises.leads.get">
            <lead-details-info [entity]="selectedEntity"></lead-details-info>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal"
                (click)="modalDismiss()">
            <span translate>leads.modal.cancel</span>
        </button>
    </modal-footer>
</modal>