.leads-table-template {
  margin-top: 25px;
}
.leads-table-body {

}
.leads-table-header {

}
.leads-table-body-column-actions {
  width: 140px;
}
.leads-export-btn {

}
.leads-refresh-btn {
  margin-right: 5px;
  margin-bottom: 16px;
}
.leads-page-size-control {
  margin-right: 5px;
  margin-bottom: 16px;
}
.lead-modal-header-text {

}
.leads-table-body-row {

}
.leads-table-body-row:hover {
  cursor: pointer;
}
.leads-table-body-row-filters {
  background-color: #fafafa;
}
.leads-table-body-row-filters:hover {
  background-color: #fafafa;
}
.leads-table-badge-class {
  font-size: 0.9rem;
}