<div class="many-entities-template">
    <div class="row test-drive-many-entities-template-header">
        <div class="col-12">
            <div class="pull-left">
                <button type="button"
                        *ngIf="isRefreshAllowed()"
                        [disabled]="isRefreshDisabled()"
                        class="btn btn-secondary btn-sm pull-left leads-refresh-btn"
                        (click)="getAllEntities()">
                    <i class="fa fa-refresh fa-spin" *ngIf="isRefreshProcessing()"></i>
                    <i class="fa fa-refresh" *ngIf="!isRefreshProcessing()"></i>
                </button>
                <select class="form-control-sm leads-page-size-control"
                        *ngIf="isPageSizeChangeAllowed()"
                        [disabled]="isPageSizeChangeDisabled()"
                        [(ngModel)]="pageSize"
                        (change)="onPageSizeChanged($event)">
                    <option *ngFor="let item of pageSizeValues"
                            [ngValue]="item">
                        {{item}}
                    </option>
                </select>
            </div>
            <div class="pull-left"
                 *ngIf="isPaginationAllowed()">
                <pagination class="pagination-sm"
                            [disabled]="isPaginationDisabled()"
                            [(ngModel)]="pageNumber"
                            [totalItems]="totalCount"
                            [itemsPerPage]="pageSize"
                            [maxSize]="maxPaginationSize"
                            [boundaryLinks]="true"
                            [rotate]="false"
                            (pageChanged)="onPageNumberChanged($event)"
                            (numPages)="numPages = $event">
                </pagination>
            </div>
            <div class="pull-right">
                <button type="button"
                        *ngIf="isExportToExcelAllowed()"
                        [disabled]="isExportToExcelDisabled()"
                        class="btn btn-outline-primary btn-sm pull-right leads-export-btn"
                        (click)="exportDataToExcel()">
                    <i class="fa fa-spinner fa-pulse" *ngIf="isExportToExcelProcessing()"></i>
                    <i class="fa fa-file-excel-o" *ngIf="!isExportToExcelProcessing()"></i>
                    <span translate>leads.table.btnText_exportToExcel</span>
                </button>
            </div>
        </div>
    </div>
    <div class="test-drive-many-entities-template-body">
        <div class="row"
             [ngBusy]="firstLoadingPromise">
            <div class="col-12">
                <table class="leads-table-body table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="leads-table-body-column leads-table-body-column-with-sorting leads-table-body-column-date"
                            (click)="changeSorting('recievedUtc')"
                            translate>
                            leads.table.headerText_received
                            <span class="soring-index pull-right">
                                &nbsp;{{getSortingIndex('recievedUtc')}}
                            </span>
                            <i class="fa fa-sort-amount-asc pull-right"
                               aria-hidden="true"
                               *ngIf="isSortingAsc('recievedUtc')"></i>
                            <i class="fa fa-sort-amount-desc pull-right"
                               aria-hidden="true"
                               *ngIf="isSortingDesc('recievedUtc')"></i>
                        </th>
                        <th class="leads-table-body-column leads-table-body-column-with-sorting"
                            (click)="changeSorting('firstName')"
                            translate>
                            leads.table.headerText_fullName
                            <span class="soring-index pull-right">
                                &nbsp;{{getSortingIndex('firstName')}}
                            </span>
                            <i class="fa fa-sort-amount-asc pull-right"
                               aria-hidden="true"
                               *ngIf="isSortingAsc('firstName')"></i>
                            <i class="fa fa-sort-amount-desc pull-right"
                               aria-hidden="true"
                               *ngIf="isSortingDesc('firstName')"></i>
                        </th>
                        <!--<th class="leads-table-body-column"
                            translate>
                            leads.table.headerText_firstName
                        </th>-->
                        <!--<th class="leads-table-body-column"
                            translate>
                            leads.table.headerText_secondName
                        </th>-->
                        <th class="leads-table-body-column leads-table-body-column-with-sorting leads-table-body-column-reached"
                            (click)="changeSorting('isReachedByManager')"
                            translate>
                            leads.table.headerText_isReachedByManager
                            <span class="soring-index pull-right">
                                &nbsp;{{getSortingIndex('isReachedByManager')}}
                            </span>
                            <i class="fa fa-sort-amount-asc pull-right"
                               aria-hidden="true"
                               *ngIf="isSortingAsc('isReachedByManager')"></i>
                            <i class="fa fa-sort-amount-desc pull-right"
                               aria-hidden="true"
                               *ngIf="isSortingDesc('isReachedByManager')"></i>
                        </th>
                        <th class="leads-table-body-column leads-table-body-column-site"
                            translate>
                            leads.table.headerText_siteName
                        </th>
                        <th class="leads-table-body-column"
                            translate>
                            leads.table.headerText_userEmail
                        </th>
                        <th class="leads-table-body-column leads-table-body-column-phone"
                            translate>
                            leads.table.headerText_userPhone
                        </th>
                        <th class="leads-table-body-column leads-table-body-column-expert"
                            translate>
                            leads.table.headerText_expertName
                        </th>
                        <th class="leads-table-body-column leads-table-body-column-route"
                            translate>
                            leads.table.headerText_roadName
                        </th>
                        <th class="leads-table-body-column leads-table-body-column-beverage"
                            translate>
                            leads.table.headerText_beverageName
                        </th>
                    </tr>
                    </thead>
                    <tr class="leads-table-body-row-filters"
                        *ngIf="isFilteringAllowed()">
                        <td>
                            <select class="form-control form-control-sm"
                                    [disabled]="isFilteringDisabled()"
                                    (change)="applyFilters()"
                                    [(ngModel)]="tableFilters.recievedDateTime">
                                <option *ngFor="let option of dateFilterOptions"
                                        [ngValue]="option.value">
                                    <span translate>{{option.displayText}}</span>
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [disabled]="isFilteringDisabled()"
                                   [(ngModel)]="tableFilters.fullName"
                                   (blur)="applyFilters()"/>
                        </td>
                        <td>
                            <select class="form-control form-control-sm"
                                    [disabled]="isFilteringDisabled()"
                                    (change)="applyFilters()"
                                    [(ngModel)]="tableFilters.isReachedByManager">
                                <option *ngFor="let option of isReachedByManagerFilterOptions"
                                        [ngValue]="option.value">
                                    <span translate>{{option.displayText}}</span>
                                </option>
                            </select>
                        </td>
                        <!--<td>-->
                            <!--<input type="text"-->
                                   <!--class="form-control form-control-sm"-->
                                   <!--[disabled]="isFilteringDisabled()"-->
                                   <!--[(ngModel)]="tableFilters.firstName"-->
                                   <!--(blur)="applyFilters()"/>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<input type="text"-->
                                   <!--class="form-control form-control-sm"-->
                                   <!--[disabled]="isFilteringDisabled()"-->
                                   <!--[(ngModel)]="tableFilters.secondName"-->
                                   <!--(blur)="applyFilters()"/>-->
                        <!--</td>-->
                        <td>
                            <select class="form-control form-control-sm"
                                    [disabled]="isFilteringDisabled()"
                                    (change)="applyFilters()"
                                    [(ngModel)]="tableFilters.siteId">
                                <option *ngFor="let option of siteOptions"
                                        [ngValue]="option.value">
                                    <span translate>{{option.displayText}}</span>
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [disabled]="isFilteringDisabled()"
                                   [(ngModel)]="tableFilters.email"
                                   (blur)="applyFilters()"/>
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [disabled]="isFilteringDisabled()"
                                   [(ngModel)]="tableFilters.phone"
                                   (blur)="applyFilters()"/>
                        </td>
                        <td>
                            <select class="form-control form-control-sm"
                                    [disabled]="isFilteringDisabled()"
                                    (change)="applyFilters()"
                                    [(ngModel)]="tableFilters.expertId">
                                <option *ngFor="let option of expertOptions"
                                        [ngValue]="option.value">
                                    <span translate>{{option.displayText}}</span>
                                </option>
                            </select>
                            <!--<input type="text"-->
                                   <!--class="form-control form-control-sm"-->
                                   <!--[disabled]="isFilteringDisabled()"-->
                                   <!--[(ngModel)]="tableFilters.expert"-->
                                   <!--(blur)="applyFilters()"/>-->
                        </td>
                        <td>
                            <select class="form-control form-control-sm"
                                    [disabled]="isFilteringDisabled()"
                                    (change)="applyFilters()"
                                    [(ngModel)]="tableFilters.routeId">
                                <option *ngFor="let option of routeOptions"
                                        [ngValue]="option.value">
                                    <span translate>{{option.displayText}}</span>
                                </option>
                            </select>
                            <!--<input type="text"-->
                                   <!--class="form-control form-control-sm"-->
                                   <!--[disabled]="isFilteringDisabled()"-->
                                   <!--[(ngModel)]="tableFilters.route"-->
                                   <!--(blur)="applyFilters()"/>-->
                        </td>
                        <td>
                            <select class="form-control form-control-sm"
                                    [disabled]="isFilteringDisabled()"
                                    (change)="applyFilters()"
                                    [(ngModel)]="tableFilters.beverageId">
                                <option *ngFor="let option of beverageOptions"
                                        [ngValue]="option.value">
                                    <span translate>{{option.displayText}}</span>
                                </option>
                            </select>
                            <!--<input type="text"-->
                                   <!--class="form-control form-control-sm"-->
                                   <!--[disabled]="isFilteringDisabled()"-->
                                   <!--[(ngModel)]="tableFilters.beverage"-->
                                   <!--(blur)="applyFilters()"/>-->
                        </td>
                    </tr>
                    <tbody>
                    <tr *ngFor="let item of items"
                        class="leads-table-body-row"
                        [ngClass]="getClassesForLeadTableRow(item)"
                        (click)="tryModalOpenInfo(item.id)">
                        <td class="leads-table-body-column">{{item.recievedDateTime}}</td>
                        <td class="leads-table-body-column">{{item.firstName + ' ' + item.secondName}}</td>
                        <!--<td class="leads-table-body-column">{{item.firstName}}</td>-->
                        <!--<td class="leads-table-body-column">{{item.secondName}}</td>-->
                        <td class="leads-table-body-column">
                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                                   style="cursor: default"
                                   (click)="changeIsReachedByManager(item); $event.stopPropagation();">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       [disabled]="isReachedByManagerDisabled(item)"
                                       [ngModel]="item.isReachedByManager">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"></span>
                            </label>
                        </td>
                        <td class="leads-table-body-column">{{item.siteName}}</td>
                        <td class="leads-table-body-column">{{item.userEmail}}</td>
                        <td class="leads-table-body-column">{{item.userPhone}}</td>
                        <td class="leads-table-body-column">
                            <span class="badge badge-info leads-table-badge-class"
                                  *ngIf="item.expertName">
                                {{item.expertName}}
                            </span>
                        </td>
                        <td class="leads-table-body-column">
                            <span class="badge badge-info leads-table-badge-class"
                                  *ngIf="item.routeName">
                                {{item.routeName}}
                            </span>
                        </td>
                        <td class="leads-table-body-column">
                            <span class="badge badge-info leads-table-badge-class"
                                  *ngIf="item.beverageName">
                                {{item.beverageName}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="test-drive-many-entities-template-footer"></div>
</div>

<modal #leadDetailsInfoModal
       [backdrop]="'static'">
    <modal-header>
        <h5 class="modal-title">
            <span class="test-drive-modal-header-text" translate>leads.modal.title</span>
        </h5>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="modalDismiss(); $event.stopPropagation();">
            <span aria-hidden="true">&times;</span>
        </button>
    </modal-header>
    <modal-body>
        <div *ngIf="isSelectedEntityDefined()">
            <lead-details-info [entity]="entity"></lead-details-info>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-secondary test-drive-modal-close-btn"
                (click)="modalDismiss(); $event.stopPropagation();">
            <span translate>general.actions.modalClose</span>
        </button>
    </modal-footer>
</modal>