.leads-table-template {
  margin-top: 25px;
}
.leads-table-body {
  font-size: 85%;
}
.leads-table-header {

}
.leads-table-body-column {

}
.leads-table-body-column-with-sorting {
  cursor: pointer;
}
.leads-table-body-column-date {
  width: 140px;
}
.leads-table-body-column-reached {
  width: 110px;
}
.leads-table-body-column-site {
  width: 180px;
}
.leads-table-body-column-phone {
  width: 100px;
}
.leads-table-body-column-expert {
  width: 150px;
}
.leads-table-body-column-route {
  width: 150px;
}
.leads-table-body-column-beverage {
  width: 150px;
}
.leads-export-btn {

}
.leads-refresh-btn {
  margin-right: 5px;
  margin-bottom: 16px;
}
.leads-page-size-control {
  margin-right: 5px;
  margin-bottom: 16px;
}
.lead-modal-header-text {

}
.leads-table-body-column {
  text-align: center;
}
.leads-table-body-row {

}
.leads-table-body-row-with-new-entity {
  font-style: italic;
  background: #ffc;
}
.leads-table-body-row:hover {
  cursor: pointer;
}
.leads-table-body-row-disabled {

}
.leads-table-body-row-disabled:hover {

}
.leads-table-body-row-processing {
  background-color: #e8eaf6;
}
.leads-table-body-row-processing:hover {
  background-color: #c5cae9;
}
.leads-table-body-row-filters {
  background-color: #fafafa;
}
.leads-table-body-row-filters:hover {
  background-color: #fafafa;
}
.leads-table-badge-class {
  //font-size: 0.9rem;
}
.template-header-column {
  float: left;
}