.leads-table-template {

}
.leads-table-title {
  padding: 25px;
}
.leads-table-body {

}
.leads-table-title-text {
  font-size: 30px;
}
.leads-table-body-column-actions {
  width: 140px;
}
.leads-export-btn {
}