<div class="leads-table-template"
     *ngIf="isInitialized()">
    <table class="leads-table-body table table-bordered table-hover">
        <thead>
        <tr>
            <th translate>leads.table.headerText_received</th>
            <th translate>leads.table.headerText_siteName</th>
            <th translate>leads.table.headerText_userEmail</th>
            <th translate>leads.table.headerText_userPhone</th>
            <th translate>leads.table.headerText_expertName</th>
            <th translate>leads.table.headerText_roadName</th>
            <th translate>leads.table.headerText_beverageName</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items"
            (click)="modalOpenInfo(item.id)">
            <td>{{item.recievedUtc}}</td>
            <td>{{item.siteName}}</td>
            <td>{{item.userEmail}}</td>
            <td>{{item.userPhone}}</td>
            <td>{{item.expertName}}</td>
            <td>{{item.routeName}}</td>
            <td>{{item.beverageName}}</td>
        </tr>
        </tbody>
    </table>
    <button type="button"
            disabled
            class="btn btn-outline-primary btn-sm pull-right leads-export-btn"
            data-dismiss="modal"
            (click)="exportDataToExcel()">
        <span translate>leads.table.btnText_exportToExcel</span>
    </button>
</div>

<modal #leadDetailsInfoModal
       [backdrop]="'static'">
    <modal-header>
        <span class="lead-modal-header-text" translate>leads.modal.title</span>
    </modal-header>
    <modal-body>
        <div *ngIf="isSelectedEntityDefined()">
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.siteName</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.siteName}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.received</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.recievedUtc}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.userName</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.username}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.userEmail</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.userEmail}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.userPhone</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.userPhone}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.expertName</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.expertName}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.routeName</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.routeName}}</div>
            </div>
            <div class="row">
                <label class="col-4 leads-modal-body-label" translate>leads.modal.beverageName</label>
                <div class="col-6 leads-modal-body-text">{{selectedEntity.beverageName}}</div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal"
                (click)="modalDismiss()">
            <span translate>leads.modal.cancel</span>
        </button>
    </modal-footer>
</modal>