<div class="user-profile-template">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb user-profile-template-title-text">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span translate>userProfile.userProfileMainTitle</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <div class="">
                    <ul class="nav nav-tabs"
                        id="user-profile-tabs"
                        role="tablist">
                        <li class="nav-item">
                            <a id="personal-info-tab"
                               class="nav-link active"
                               href="#personalInfo"
                               data-toggle="tab"
                               role="tab"
                               aria-controls="personal-info-tab"
                               aria-expanded="true"
                               translate>
                                userProfile.tabs.personalInfo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="avatar-tab"
                               class="nav-link"
                               href="#avatar"
                               data-toggle="tab"
                               role="tab"
                               aria-controls="avatar-tab"
                               translate>
                                userProfile.tabs.avatar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="change-password-tab"
                               class="nav-link"
                               href="#changePassword"
                               data-toggle="tab"
                               role="tab"
                               aria-controls="change-password-tab"
                               translate>
                                userProfile.tabs.changePassword
                            </a>
                        </li>
                    </ul>
                    <div id="site-details"
                         class="tab-content">
                        <div id="personalInfo"
                             class="tab-pane fade show active"
                             role="tabpanel"
                             aria-labelledby="personal-info-tab">
                            personal info
                        </div>
                        <div id="avatar"
                             class="tab-pane fade show"
                             role="tabpanel"
                             aria-labelledby="avatar-tab">
                            avatar
                        </div>
                        <div id="changePassword"
                             class="tab-pane fade show"
                             role="tabpanel"
                             aria-labelledby="change-password-tab">
                            <div class="user-profile-tab-content">
                                <div>
                                    <div class="form-group">
                                        <label for="old-password"
                                               translate>
                                            userProfile.tabs.password.oldPassword
                                        </label>
                                        <input id="old-password"
                                               type="password"
                                               name="old-password"
                                               class="form-control"
                                               required=""
                                               autofocus=""
                                               [disabled]="isAnyPasswordInputDisabled()"
                                               [(ngModel)]="oldPassword">
                                        <small id="old-password-help"
                                               class="form-text text-muted"
                                               translate>
                                            userProfile.tabs.password.oldPasswordHelp
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-password"
                                               translate>
                                            userProfile.tabs.password.newPassword
                                        </label>
                                        <input id="new-password"
                                               type="password"
                                               name="new-password"
                                               class="form-control"
                                               required=""
                                               autofocus=""
                                               [disabled]="isAnyPasswordInputDisabled()"
                                               [(ngModel)]="newPassword">
                                        <small id="new-password-help"
                                               class="form-text text-muted"
                                               translate>
                                            userProfile.tabs.password.newPasswordHelp
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-repeated-password"
                                               translate>
                                            userProfile.tabs.password.newRepeatedPassword
                                        </label>
                                        <input id="new-repeated-password"
                                               type="password"
                                               name="new-repeated-password"
                                               class="form-control"
                                               required=""
                                               autofocus=""
                                               [disabled]="isAnyPasswordInputDisabled()"
                                               [(ngModel)]="newRepeatedPassword">
                                        <small id="new-repeated-password-help"
                                               class="form-text text-muted"
                                               translate>
                                            userProfile.tabs.password.newRepeatedPasswordHelp
                                        </small>
                                    </div>
                                </div>
                                <div>
                                    <button type="button"
                                            [disabled]="isCommitPasswordChangeDisabled()"
                                            class="btn btn-primary pull-right"
                                            (click)="commitPasswordChange(); $event.stopPropagation();">
                                        <i class="fa fa-spinner fa-pulse" *ngIf="isCommitPasswordChangeProcessing()"></i>
                                        <i class="fa fa-check" *ngIf="!isCommitPasswordChangeProcessing()"></i>
                                        <span translate>general.actions.text_commit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>