.user-profile-template {

}
.user-profile-template-title-text {
  font-size: 25px;
}
.user-profile-tab-content {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}