/**
* ------------------------------------------------------------------------
* Theme styles
* ------------------------------------------------------------------------
*/

$theme-main-color: #000000;
$theme-select-color: #c80037;

$button-border: #dc3545;
$button-background: #dc3545;

$button-border--hover: #bd2130;
$button-background--hover: #c82333;

$button-border--disabled: #dc3545;
$button-background--disabled: #dc3545;

/**
* ------------------------------------------------------------------------
* Widget Styles
* ------------------------------------------------------------------------
*/

@import '../root';