<div class="row">
    <div class="col-12">
        <img src="/img/dummy-car-detail.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-12">
        <h3 class="text-primary">Nissan GT-R</h3>
    </div>
    <div class="col-12">
        <p class="text-secondary m-0">Engine</p>
        <p>3.8 litre twin-turbo V6</p>
    </div>
    <div class="col-6">
        <p class="text-secondary m-0">Year</p>
        <p>2016</p>
    </div>
    <div class="col-6">
        <p class="text-secondary m-0">Colour</p>
        <p>Orange</p>
    </div>
    <div class="col-6">
        <p class="text-secondary m-0">Transmission</p>
        <p>Manual</p>
    </div>
    <div class="col-6">
        <p class="text-secondary m-0">Fuel</p>
        <p>Petrol</p>
    </div>
    <hr>

    <div class="col-12 mb-2">
        <div class="media">
            <img class="d-flex mr-4" src="/img/icon-date.jpg">
            <div class="media-body">
                <span>12/06/2016 - 9:00</span>
                <!--<p>{{$ctrl.userData.calendar.date}} - {{$ctrl.userData.calendar.time}}</p>-->
            </div>
        </div>
    </div>

    <div class="col-12 mb-2">
        <div class="media">
            <img class="d-flex mr-4" src="/img/icon-expert.jpg">
            <div class="media-body">
                <span>{{$ctrl.userData.expert.title}}</span>
            </div>
        </div>
    </div>

    <div class="col-12 mb-2">
        <div class="media">
            <img class="d-flex mr-4" src="/img/icon-beverage.jpg">
            <div class="media-body">
                <span>{{$ctrl.userData.beverage.title}}</span>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="media">
            <img class="d-flex mr-4" src="/img/icon-road.jpg">
            <div class="media-body">
                <span>{{$ctrl.userData.road.title}}</span>
            </div>
        </div>
    </div>

</div>