<div class="row user-details">
    <div class="col">
    <div class="user-details__heading">Select preferred route</div>
    <div class="user-details__subheading">Select the type of drive you'd like to take on your test drive</div>
    </div>
</div>
<div class="row td-card-container">
    <td-card class="col-md-6 col-sm-12 td-card-root"
             ng-repeat="road in $ctrl.roads"
             card-image="road.photo_url"
             card-title="road.title"
             card-desc="road.description"
             is-active-card="road.title == $ctrl.userData.road.title"
             ng-click="$ctrl.expertChanged(road.title)">
    </td-card>
</div>
<div class="row">
    <div class="td-next-step-btn" ng-click="$ctrl.completeStepInner()">Next step</div>
</div>
