.invitations-table-body-column-actions {
  width: 90px;
}
.invitations-refresh-btn {
  margin-right: 5px;
  margin-bottom: 16px;
}
.invitations-page-size-control {
  margin-right: 5px;
  margin-bottom: 16px;
}
.invitation-modal-header-text {

}
.invitations-table-body {
  font-size: 85%;
}
.invitations-table-body-column {
  text-align: center;
}
.invitations-table-body-row {

}
.invitations-table-body-row:hover {
  cursor: pointer;
}
.invitations-table-body-row-disabled {

}
.invitations-table-body-row-disabled:hover {

}
.invitations-table-body-row-processing {
  background-color: #e8eaf6;
}
.invitations-table-body-row-processing:hover {
  background-color: #c5cae9;
}
.invitations-table-body-row-with-pending-entity {
  font-style: italic;
  background: #ffc;
}
.invitations-table-badge-class {
  //font-size: 0.9rem;
}