<div class="wrapper">
    <form class="form-registration">
        <h2 class="form-signin-heading">
            <span translate>
                general.applicationName
            </span>
        </h2>
        <hr>
        <div class="alert alert-danger alert-dismissible fade show"
             role="alert"
             style="margin-top: 10px; height: 50px;"
             *ngIf="!!errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
        </div>
        <div class="alert alert-info alert-dismissible fade show"
             role="alert"
             style="margin-top: 10px; height: 50px;"
             *ngIf="!errorMessage">
            <span translate>
                registration.messageInfo
            </span>
        </div>
        <hr>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">

            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="invitation-code"
                           class="test-drive-input-label"
                           translate>
                        registration.invitationCode
                    </label>
                    <input id="invitation-code"
                           name="invitationCode"
                           type="text"
                           class="form-control"
                           [disabled]="isFormProcessing()"
                           [(ngModel)]="invitationCode">
                    <small class="form-text text-muted"
                           translate>
                        registration.invitationCodeHelp
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="first-name"
                           class="test-drive-input-label"
                           translate>
                        registration.firstName
                    </label>
                    <input id="first-name"
                           name="firstName"
                           type="text"
                           class="form-control"
                           [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidFirstName(model))"
                           [disabled]="isFormProcessing()"
                           [(ngModel)]="model.firstName">
                    <small class="form-text text-muted"
                           *ngIf="!isValidationActive() || validationService.isValidFirstName(model)"
                           translate>
                        registration.firstNameHelp
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !validationService.isValidFirstName(model)"
                           translate>
                        {{ validationService.getInvalidFirstNameMessageKey(model) }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="second-name"
                           class="test-drive-input-label"
                           translate>
                        registration.secondName
                    </label>
                    <input id="second-name"
                           name="lastName"
                           type="text"
                           class="form-control"
                           [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidSecondName(model))"
                           [disabled]="isFormProcessing()"
                           [(ngModel)]="model.secondName">
                    <small class="form-text text-muted"
                           *ngIf="!isValidationActive() || validationService.isValidSecondName(model)"
                           translate>
                        registration.secondNameHelp
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !validationService.isValidSecondName(model)"
                           translate>
                        {{ validationService.getInvalidSecondNameMessageKey(model) }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="email"
                           class="test-drive-input-label"
                           translate>
                        registration.email
                    </label>
                    <input id="email"
                           name="email"
                           type="email"
                           class="form-control"
                           [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidEmail(model))"
                           [disabled]="isFormProcessing()"
                           [(ngModel)]="model.email">
                    <small class="form-text text-muted"
                           *ngIf="!isValidationActive() || validationService.isValidEmail(model)"
                           translate>
                        registration.emailHelp
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !validationService.isValidEmail(model)"
                           translate>
                        {{ validationService.getInvalidEmailMessageKey(model) }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="username"
                           class="test-drive-input-label"
                           translate>
                        registration.username
                    </label>
                    <input id="username"
                           name="username"
                           type="text"
                           class="form-control"
                           [ngClass]="extensions.getInputValidationClass(isValidationActive() && !isUsernameCheckProcessing(), isUsernameValid)"
                           [disabled]="isFormProcessing()"
                           (ngModelChange)="usernameChanged($event)"
                           [ngModel]="model.username">
                    <small class="form-text text-muted"
                           *ngIf="!isValidationActive() || isUsernameValid || isUsernameCheckProcessing()"
                           translate>
                        registration.usernameHelp
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !isUsernameValid && !isUsernameEmpty() && !isUsernameCheckProcessing()"
                           translate>
                        validation.registrationModel.invalidUsernameMessage
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !isUsernameValid && isUsernameEmpty() && !isUsernameCheckProcessing()"
                           translate>
                        validation.registrationModel.invalidEmptyUsernameMessage
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="password"
                           class="test-drive-input-label"
                           translate>
                        registration.password
                    </label>
                    <input id="password"
                           name="password"
                           type="password"
                           class="form-control"
                           [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidPassword(model))"
                           [disabled]="isFormProcessing()"
                           [(ngModel)]="model.password">
                    <small class="form-text text-muted"
                           *ngIf="!isValidationActive() || validationService.isValidPassword(model)"
                           translate>
                        registration.passwordHelp
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !validationService.isValidPassword(model)"
                           translate>
                        {{ validationService.getInvalidPasswordMessageKey(model) }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <div class="form-group">
                    <label for="repeatedPassword"
                           class="test-drive-input-label"
                           translate>
                        registration.confirmPassword
                    </label>
                    <input id="repeatedPassword"
                           name="repeatedPassword"
                           type="password"
                           class="form-control"
                           [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidRepeatPassword(model))"
                           [disabled]="isFormProcessing()"
                           [(ngModel)]="model.repeatPassword">
                    <small class="form-text text-muted"
                           *ngIf="!isValidationActive() || validationService.isValidRepeatPassword(model)"
                           translate>
                        registration.confirmPasswordHelp
                    </small>
                    <small class="form-text test-drive-validation-message"
                           *ngIf="isValidationActive() && !validationService.isValidRepeatPassword(model)"
                           translate>
                        {{ validationService.getInvalidRepeatPasswordMessageKey(model) }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row test-drive-modal-body-edit-entity-container-row-input">
            <div class="col-12">
                <button class="btn btn-success pull-right test-drive-right-standalone-btn"
                        type="submit"
                        [disabled]="isRegistrationDisabled()"
                        (click)="register()">
                    <i class="fa fa-spinner fa-pulse" *ngIf="isFormProcessing()"></i>
                    <i class="fa fa-sign-in" *ngIf="!isFormProcessing()"></i>
                    <span translate>
                        registration.applyRegistration
                    </span>
                </button>
                <button class="btn btn-default pull-left test-drive-left-standalone-btn"
                        type="submit"
                        [disabled]="isFormProcessing()"
                        (click)="cancelRegistration()">
                    <span translate>
                        registration.cancel
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>