<div class="row">
    <div class="col-md-6 col-sm-12 d-none d-sm-none d-md-none d-lg-block d-xl-block">
        <h2 class="wizard-tab-content__title text-center text-md-left">Select Date</h2>
        <br>
        <div moment-picker="ctrl.dateImput"
             format="LL LTS"
             min-view="month"
             max-view="month"
             today="true"
             keyboard="true"
             inline="true"
             set-on-select="true">
        </div>
    </div>
    <div class="col-md-6 col-sm-12 d-none d-sm-none d-md-none d-lg-block d-xl-block">
        <h2 class="wizard-tab-content__title text-center text-md-left">Select Time</h2>
        <br>
        <div moment-picker="ctrl.timeInput"
             format="LL LTS"
             min-view="day"
             max-view="day"
             min-date="''"
             max-date="''"
             today="true"
             inline="true">
        </div>
    </div>
    <!--{{ ctrl.dateImput }}-->
    <!--{{ ctrl.timeInput }}-->

    <div class="col-sm-12 d-sm-block d-md-block d-lg-none d-xl-none">
        <h2 class="wizard-tab-content__title text-center">Select Date & Time</h2>
        <br>
        <div moment-picker="ctrl.dateTimeInput"
             format="LL LTS"
             min-view="month"
             max-view="hour"
             min-date="'2017-09-26'"
             today="true"
             inline="true">
        </div>
        <!--{{ ctrl.dateTimeInput }}-->
    </div>


</div>
<p></p>
<td-wizard-step-button tab-id="$ctrl.tabId" next-step="nextStepInner()"></td-wizard-step-button>