.week-schedule-template {

}
.week-schedule-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.week-schedule-start-edit-btn {
  width: 32px;
}
.week-schedule-commit-edit-btn {
  width: 32px;
}
.week-schedule-remove-btn {
  width: 32px;
}
.week-schedule-undo-btn {
  width: 32px;
}
.week-schedule-commit-add-btn {
  width: 32px;
}
.week-schedule-minus-text-addon {
  padding-top: 1px;
  width: 32px;
}
.week-schedule-colon-text-addon {
  padding-top: 1px;
  width: 32px;
}