<td-date
        ng-if="$ctrl.widgetTabs['time'].isActive"
        tab-id="'time'"
        complete-step="$ctrl.completeStep(tabId)"
        user-data="$ctrl.userData">
</td-date>
<td-expert
        ng-if="$ctrl.widgetTabs['expert'].isActive"
        tab-id="'expert'"
        user-data="$ctrl.userData"
        complete-step="$ctrl.completeStep(tabId)">
</td-expert>
<td-beverage
        ng-if="$ctrl.widgetTabs['beverage'].isActive"
        tab-id="'beverage'"
        user-data="$ctrl.userData"
        complete-step="$ctrl.completeStep(tabId)">
</td-beverage>
<td-road
        ng-if="$ctrl.widgetTabs['road'].isActive"
        tab-id="'road'"
        user-data="$ctrl.userData"
        complete-step="$ctrl.completeStep(tabId)">
</td-road>
<td-user-details
        ng-if="$ctrl.widgetTabs['details'].isActive"
        tab-id="'details'"
        user-data="$ctrl.userData"
        complete-step="$ctrl.completeStep(tabId)"
        complete-form="$ctrl.completeForm()">
</td-user-details>



