.invitations-table-template {
  margin-top: 25px;
}
.invitations-table-body {

}
.invitations-table-header {

}
.invitations-table-body-column-actions {
  width: 140px;
}
.invitations-refresh-btn {
  margin-right: 5px;
  margin-bottom: 16px;
}
.invitations-page-size-control {
  margin-right: 5px;
  margin-bottom: 16px;
}
.invitation-modal-header-text {

}
.invitations-table-body-row {

}
.invitations-table-body-row:hover {
  cursor: pointer;
}
.invitations-table-badge-class {
}