.site-details-template {

}
.site-details-template-header {

}
.site-details-title {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.site-details-title-text {
  font-size: 25px;
}
.site-details-title-chevron {

}
.site-details-title-site-name-text {
  font-size: 25px;
}
.site-details-template-body {
  margin-top: 25px;
}