.site-details-template {

}
.site-details-template-header {

}
.site-details-title {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.site-details-title-text {
  font-size: 25px;
}
.site-details-title-chevron {

}
.site-details-title-site-name-text {
  font-size: 25px;
}
.site-details-template-body {
  margin-top: 25px;
}
.site-notifications-email-label-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-notifications-email-entity-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-notifications-sms-label-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-notifications-sms-entity-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-notifications-template {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.site-notifications-template-footer {
  margin-top: 20px;
}