<div class="avatar-update-container">
    <div class="avatar-update-container-body">
        <div class="row">
            <div class="col-12">
                <image-select [isReadOnly]="isImageComponentReadOnly()"
                              [imageUrl]="newAvatarUrl"
                              [defaultImageUrl]="defaultImageUrl"
                              [imageWidth]="imageWidth"
                              [imageHeight]="imageHeight"
                              [isRounded]="isImageRounded"
                              [imageAlt]="imageAlt"
                              [columnRules]="columnRules"
                              [forceAcceptImage]="forceAcceptImage"
                              (imageUrlSelected)="onNewAvatarSelected($event)"
                              (resetForceAcceptImage)="onResetForceAcceptImage($event)"></image-select>
            </div>
        </div>
    </div>
    <div class="avatar-update-container-footer">
        <div class="row">
            <div class="col-12">
                <button type="button"
                        class="btn btn-primary pull-right test-drive-right-standalone-btn"
                        *ngIf="isPatchAvatarAllowed()"
                        [disabled]="isPatchAvatarDisabled()"
                        (click)="patchAvatar()">
                    <i class="fa fa-spinner fa-pulse" *ngIf="isPatchAvatarProcessing()"></i>
                    <i class="fa fa-check" *ngIf="!isPatchAvatarProcessing()"></i>
                    <span translate>general.actions.text_commit</span>
                </button>
                <button type="button"
                        class="btn btn-secondary pull-right test-drive-left-standalone-btn"
                        *ngIf="isResetAvatarAllowed()"
                        [disabled]="isResetAvatarDisabled()"
                        (click)="resetAvatar()">
                    <span translate>general.actions.text_reset</span>
                </button>
            </div>
        </div>
    </div>
</div>