.site-notifications-email-label-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-notifications-email-entity-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-notifications-sms-label-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-notifications-sms-entity-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.site-notifications-template {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.site-notifications-template-footer {
  margin-top: 20px;
}
.site-notifications-email-entity-start-edit-btn {
  width: 32px;
}
.site-notifications-email-entity-commit-edit-btn {
  width: 32px;
}
.site-notifications-email-entity-remove-btn {
  width: 32px;
}
.site-notifications-email-entity-undo-btn {
  width: 32px;
}
.site-notifications-email-entity-commit-add-btn {
  width: 32px;
}
.site-notifications-sms-entity-start-edit-btn {
  width: 32px;
}
.site-notifications-sms-entity-commit-edit-btn {
  width: 32px;
}
.site-notifications-sms-entity-remove-btn {
  width: 32px;
}
.site-notifications-sms-entity-undo-btn {
  width: 32px;
}
.site-notifications-sms-entity-commit-add-btn {
  width: 32px;
}
.site-notifications-template-footer-btn {
  margin-left: 3px;
  margin-right: 3px;
}
.site-notifications-sms-entity-plus-text-addon {
  width: 32px;
  padding-top: 1px;
}