/**
* ------------------------------------------------------------------------
* Theme styles
* ------------------------------------------------------------------------
*/

$theme-main-color: #007bff;
$theme-sub-color: #6badfc;

$button-hover-background: #0069d9;
$button-hover-border: #0062cc;

/**
* ------------------------------------------------------------------------
* Widget Styles
* ------------------------------------------------------------------------
*/

@import '../root';