// =======================================================================//
// Theme Variables                                                        //
// =======================================================================//

$theme-main-color: #2178cf;
$theme-sub-color: #6badfc;
$theme-font-color: #ffffff;
$grey-text: #6b6b6b;
$fade-white-text: #e4eff8;
$tab-background-color: #f3f3f3;
$font-color: #434343;
