/**
* ------------------------------------------------------------------------
* Theme styles
* ------------------------------------------------------------------------
*/

$theme-main-color: #343a40;
$theme-sub-color: #28a745;

$button-hover-background: #23272b;
$button-hover-border: #1d2124;

/**
* ------------------------------------------------------------------------
* Widget Styles
* ------------------------------------------------------------------------
*/

@import '../root';