<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">
            Test drive
        </h2>
        <hr>
        <div class="alert alert-danger alert-dismissible fade show"
             role="alert"
             style="margin-top: 10px; height: 50px;"
             *ngIf="!!errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
        </div>
        <div class="alert alert-info alert-dismissible fade show"
             role="alert"
             style="margin-top: 10px; height: 50px;"
             *ngIf="!errorMessage">
            Please, enter your credentials.
        </div>
        <!--<div style="margin-top: 10px; height: 56px;" *ngIf="!errorMessage"></div>-->
        <div class="input-group" style="margin-top: 10px;">
            <span id="username-addon"
                  class="input-group-addon">
                <i class="fa fa-user"></i>
            </span>
            <input type="text"
                   class="form-control"
                   name="username"
                   placeholder="Username"
                   required=""
                   autofocus=""
                   aria-label="Username"
                   aria-describedby="username-addon"
                   [disabled]="loading"
                   [(ngModel)]="model.username">
        </div>
        <div class="input-group" style="margin-top: 5px;">
            <span id="password-addon"
                  class="input-group-addon">
                <i class="fa fa-lock"></i>
            </span>
            <input type="password"
                   class="form-control"
                   name="password"
                   placeholder="Password"
                   required=""
                   autofocus=""
                   aria-label="Password"
                   aria-describedby="password-addon"
                   [disabled]="loading"
                   [(ngModel)]="model.password">
        </div>
        <div class="login-form-row">
            <label class="checkbox">
                <input type="checkbox"
                       value="remember-me"
                       id="rememberMe"
                       name="rememberMe"
                       [disabled]="loading"
                       [(ngModel)]="model.isPersist">
                Remember me
            </label>
        </div>
        <div style="margin-top: 10px;">
            <button class="btn btn-primary pull-right"
                    type="submit"
                    [disabled]="loading"
                    (click)="login()">
                <i class="fa fa-refresh fa-spin" *ngIf="!!loading"></i>
                <i class="fa fa-sign-in" *ngIf="!loading"></i>
                <span translate>Login</span>
            </button>
        </div>
    </form>
</div>