<div class="beverages-table-template">
    <table class="beverages-table-body table table-bordered table-hover"
           *ngIf="isInitialized()">
        <thead>
        <tr>
            <th translate class="beverages-table-body-column-photo">beverages.table.headerText_avatar</th>
            <th translate class="beverages-table-body-column-name">beverages.table.headerText_beverageName</th>
            <th translate class="beverages-table-body-column-activity">general.table.headerText.activity</th>
            <th translate class="beverages-table-body-column-order">general.table.headerText.order</th>
            <th class="beverages-table-body-column-actions">
                <button type="button"
                        class="btn btn-outline-success btn-sm"
                        translate
                        (click)="modalOpenCreate(); $event.stopPropagation();">
                    general.actions.text_create
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items"
            (click)="modalOpenInfo(item.id)"
            ngClass="{{getEntityRowClass(item)}}">
            <td>
                <img class="rounded-circle"
                     alt="no photo"
                     [src]="item.photoUrl"
                     [width]="50"
                     [height]="50">
            </td>
            <td>{{item.name}}</td>
            <td>
                <div class="switch" (click)="onChangeEntityActivity(item); $event.stopPropagation();">
                    <input type="checkbox"
                           [ngModel]="item.isActive">
                    <span class="slider round"></span>
                </div>
            </td>
            <td>
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        [disabled]="!canDecrementOrder(item)"
                        (click)="decrementOrder(item); $event.stopPropagation();">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </button>
                <button type="button"
                        class="btn btn-sm btn-secondary"
                        [disabled]="!canIncrementOrder(item)"
                        (click)="incrementOrder(item); $event.stopPropagation();">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
            </td>
            <td class="beverages-table-body-column-actions">
                <button type="button"
                        class="btn btn-outline-primary btn-sm"
                        translate
                        (click)="modalOpenEdit(item.id); $event.stopPropagation();">
                    general.actions.text_edit
                </button>
                <button type="button"
                        class="btn btn-outline-danger btn-sm"
                        translate
                        (click)="deleteEntity(item.id); $event.stopPropagation();">
                    general.actions.text_delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<modal #beverageDetailsModal
       size="lg"
       [backdrop]="'static'">
    <modal-header>
        <span class="beverage-modal-header-text" translate>beverages.modal.title</span>
    </modal-header>
    <modal-body>
        <beverage-details-info *ngIf="isSelectedEntityDefined() && isOperationModeInfo"
                             [entity]="entity">
        </beverage-details-info>
        <div *ngIf="isSelectedEntityDefined() && isOperationModeAddOrUpdate">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="beverage-avatar-image">
                        <img class="rounded-circle"
                             [src]="getAvatar()"
                             [width]="avatarWidth"
                             [height]="avatarHeight">
                    </div>
                    <div class="beverage-avatar-btns"
                         *ngIf="showAvatarButtons">
                        <button type="button"
                                class="btn btn-sm btn-secondary"
                                (click)="browseAvatar()">
                            <span translate>beverages.modal.browseAvatar</span>
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-secondary"
                                (click)="changeAvatarUrl()">
                            <span translate>beverages.modal.changeAvatarUrl</span>
                        </button>
                    </div>
                    <div class="beverage-avatar-change-url"
                         *ngIf="showAvatarChangeUrl">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label"
                                           for="beveragePhotoUrl"
                                           translate>
                                        beverages.modal.beveragePhotoUrl
                                    </label>
                                    <div class="col-10">
                                        <input id="beveragePhotoUrl"
                                               type="text"
                                               class="form-control"
                                               placeholder="http://www.google.com/avatar.jpg"
                                               [(ngModel)]="stubAvatarUrl">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="button"
                                                style="margin-left: 2px; margin-right: 2px;"
                                                class="btn btn-sm btn-primary pull-right"
                                                (click)="changeAvatarUrlAccept()">
                                            <span translate>beverages.modal.changeAvatarUrlAccept</span>
                                        </button>
                                        <button type="button"
                                                style="margin-left: 2px; margin-right: 2px;"
                                                class="btn btn-sm btn-default pull-right"
                                                (click)="changeAvatarUrlCancel()">
                                            <span translate>beverages.modal.changeAvatarUrlCancel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="beverage-avatar-browse"
                         *ngIf="showAvatarBrowse">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label class="custom-file">
                                            <input type="file"
                                                   id="avatar-browse-file"
                                                   class="custom-file-input"
                                                   (change)="avatarBrowseFileChangeListener($event)">
                                            <span class="custom-file-control"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <img-cropper #cropper
                                                     [image]="avatarCropperData"
                                                     [settings]="avatarCropperSettings">
                                        </img-cropper>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="button"
                                                style="margin-left: 2px; margin-right: 2px;"
                                                class="btn btn-sm btn-primary pull-right"
                                                (click)="showAvatarBrowseAccept()">
                                            <span translate>beverages.modal.avatarBrowseAccept</span>
                                        </button>
                                        <button type="button"
                                                style="margin-left: 2px; margin-right: 2px;"
                                                class="btn btn-sm btn-default pull-right"
                                                (click)="showAvatarBrowseCancel()">
                                            <span translate>beverages.modal.avatarBrowseCancel</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label class="col-2 col-form-label"
                       for="beverageName"
                       translate>
                    beverages.modal.beverageName
                </label>
                <div class="col-10">
                    <input id="beverageName"
                           type="text"
                           class="form-control"
                           [(ngModel)]="entity.name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label"
                       for="beverageDescription"
                       translate>
                    beverages.modal.beverageDescription
                </label>
                <div class="col-10">
                    <textarea id="beverageDescription"
                              type="text"
                              class="form-control"
                              rows="5"
                              [(ngModel)]="entity.description"></textarea>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal"
                (click)="modalDismiss()">
            <span translate>beverages.modal.cancel</span>
        </button>
        <button type="button"
                class="btn btn-primary"
                *ngIf="isOperationModeAddOrUpdate"
                (click)="modalApply()">
            <span translate>beverages.modal.apply</span>
        </button>
    </modal-footer>
</modal>