.beverages-table-template {
  margin-top: 25px;
}
.beverages-table-body {

}
.beverages-table-body-column-actions {
  width: 140px;
}
.beverages-table-body-column-photo {
  width: 80px;
}
.beverages-table-body-column-order {

}
.beverages-table-body-column-activity {

}
.beverages-table-body-column-name {

}

.beverage-modal-header-text {

}
.beverage-avatar-image {
  width: 180px;
  height: 180px;
}
.beverage-avatar-btns {

}
.beverage-avatar-browse {

}
.beverage-avatar-change-url {

}