.beverages-table-template {
  margin-top: 25px;
}
.beverages-table-body {

}
.beverages-table-body-column-actions {
  width: 140px;
}
.beverages-table-body-column-photo {
  width: 80px;
}
.beverages-table-body-column-order {

}
.beverages-table-body-column-activity {

}
.beverages-table-body-column-name {

}

.beverage-modal-header-text {

}
.beverage-avatar-image {
  width: 180px;
  height: 180px;
}
.beverage-avatar-btns {

}
.beverage-avatar-browse {

}
.beverage-avatar-change-url {

}
.beverages-table-body-row-active {
  //background-color: #f1f8e9;
}
.beverages-table-body-row-active:hover {
  cursor: pointer;
  //background-color: #dcedc8;
}
.beverages-table-body-row-not-active {
  //background-color: #fff3e0;
}
.beverages-table-body-row-not-active:hover {
  cursor: pointer;
  //background-color: #ffe0b2;
}