.sites-table-template {
  margin-top: 25px;
}
.sites-table-body {

}
.sites-table-header {

}
.sites-table-body-column-actions {
  width: 160px;
}
.sites-refresh-btn {
  margin-right: 5px;
  margin-bottom: 16px;
}
.sites-page-size-control {
  margin-right: 5px;
  margin-bottom: 16px;
}
.site-modal-header-text {

}
.sites-table-body-row {

}
.sites-table-body-row:hover {
  cursor: pointer;
}