<div class="sites-table-template">
    <table class="sites-table-body table table-bordered table-hover"
           *ngIf="isInitialized()">
        <thead>
            <tr>
                <th translate>sites.table.headerText_siteName</th>
                <th translate>sites.table.headerText_leads</th>
                <th class="sites-table-body-column-actions">
                    <button type="button"
                            class="btn btn-outline-success btn-sm"
                            translate
                            (click)="modalOpenCreate(); $event.stopPropagation();">
                        general.actions.text_create
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items"
                (click)="redirectToEntityDetails(item)">
                <td>{{item.name}}</td>
                <td>{{item.leadsAmount}}</td>
                <td class="sites-table-body-column-actions">
                    <button type="button"
                            class="btn btn-outline-primary btn-sm"
                            translate
                            (click)="modalOpenEdit(item.id); $event.stopPropagation();">
                        general.actions.text_edit
                    </button>
                    <button type="button"
                            class="btn btn-outline-danger btn-sm"
                            translate
                            (click)="deleteEntity(item.id); $event.stopPropagation();">
                        general.actions.text_delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal #siteDetailsModal
       [backdrop]="'static'">
    <modal-header>
        <span class="site-modal-header-text" translate>sites.modal.title</span>
    </modal-header>
    <modal-body>
        <div *ngIf="isSelectedEntityDefined()">
            <div class="form-group row">
                <label  class="col-2 col-form-label"
                        for="siteName"
                        translate>
                    sites.modal.siteName
                </label>
                <div class="col-10">
                    <input id="siteName"
                           type="text"
                           class="form-control"
                           [(ngModel)]="entity.name">
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-2 col-form-label"
                        for="siteUrl"
                        translate>
                    sites.modal.siteUrl
                </label>
                <div class="col-10">
                    <input id="siteUrl"
                           type="text"
                           class="form-control"
                           placeholder="http://your_site_url.com"
                           [(ngModel)]="entity.url"/>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal"
                (click)="modalDismiss()">
            <span translate>sites.modal.cancel</span>
        </button>
        <button type="button"
                class="btn btn-primary"
                (click)="modalApply()">
            <span translate>sites.modal.apply</span>
        </button>
    </modal-footer>
</modal>