.sites-table-template {
  margin-top: 25px;
}
.sites-table-body {
  //font-size: 85%;
}
.sites-table-header {

}
.sites-table-body-column {
  text-align: center;
  vertical-align: middle;
}
.sites-table-body-row {
  min-height: 75px;
}
.sites-table-body-row:hover {
  cursor: pointer;
}
.sites-table-body-row-disabled {

}
.sites-table-body-row-disabled:hover {

}
.sites-table-body-row-processing {
  background-color: #e8eaf6;
}
.sites-table-body-row-processing:hover {
  background-color: #c5cae9;
}
.sites-table-body-column-actions {
  width: 170px;
}
.sites-table-body-column-image {
  width: 80px;
}
.sites-table-body-column-header-full-name {

}
.sites-table-body-column-body-full-name {
  text-align: left !important;
}
.sites-table-body-column-header-leads {
  width: 150px;
}
.test-drive-card-site-image {
  width: 75px;
  height: auto;
}