<div class="many-entities-template">
    <div class="row test-drive-many-entities-template-header">
        <div class="col-12">
            <button class="btn btn-secondary btn-sm pull-left test-drive-left-standalone-btn"
                    type="button"
                    *ngIf="isActionGetManyAllowed()"
                    [disabled]="isActionGetManyDisabled()"
                    (click)="getManyEntities(); $event.stopPropagation();">
                <i class="fa fa-refresh fa-spin" *ngIf="isActionGetManyProcessing()"></i>
                <i class="fa fa-refresh" *ngIf="!isActionGetManyProcessing()"></i>
            </button>
            <button class="btn btn-sm btn-outline-success pull-right test-drive-right-standalone-btn"
                    type="button"
                    *ngIf="isActionCreateAllowed()"
                    [disabled]="isActionCreateDisabled()"
                    (click)="openModalOnCreate(); $event.stopPropagation();">
                <i class="fa fa-spinner fa-pulse" *ngIf="isActionCreateProcessing()"></i>
                <i class="fa fa-plus" *ngIf="!isActionCreateProcessing()"></i>
                <span translate>general.actions.text_create</span>
            </button>
        </div>
    </div>
    <div class="test-drive-many-entities-template-body">
        <div class="row" [ngBusy]="firstLoadPromise">
            <div class="card-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let entity of items">
                <div class="card site-card">
                    <!--<image-view [imageUrl]="entity.imageUrl"-->
                                <!--[imageAlt]="siteImageAlt"-->
                                <!--[imageHeight]="siteImageHeight"-->
                                <!--[imageWidth]="siteImageWidth"-->
                                <!--[isRounded]="false"-->
                                <!--[externalImageClass]="'card-img-top'"-->
                                <!--[useHeightAsMainProperty]="true"></image-view>-->
                    <img class="card-img-top test-drive-card-site-image"
                         src="{{entity.imageUrl}}"
                         alt="{{siteImageAlt}}">
                    <div class="card-block">
                        <h4 class="card-title">
                            {{entity.name}}
                        </h4>
                        <p class="card-text">
                            <span translate>
                                sites.card.leads
                            </span>:
                            <b>{{entity.leadsAmount}}</b>
                            <a href="{{getNewLeadsForSiteUrl(entity.id)}}"
                               *ngIf="entity.newLeadsAmount > 0">
                                <span class="badge badge-danger"
                                      style="font-size: 100%">
                                    {{entity.newLeadsAmount}}
                                    <span translate>
                                        sites.card.new
                                    </span>
                                </span>
                            </a>
                        </p>
                        <a href="{{entity.url}}" class="card-link" target="_blank">
                            {{entity.url}}
                        </a>
                    </div>
                    <div class="card-footer bg-transparent">
                        <button class="btn btn-sm btn-outline-danger pull-right test-drive-right-standalone-btn"
                                type="button"
                                *ngIf="isActionDeleteAllowed(entity)"
                                [disabled]="isActionDeleteDisabled(entity)"
                                (click)="openConfirmationDeleteModal(entity.id); $event.stopPropagation();">
                            <i class="fa fa-spinner fa-pulse" *ngIf="isActionDeleteProcessing(entity)"></i>
                            <i class="fa fa-times" *ngIf="!isActionDeleteProcessing(entity)"></i>
                            <span translate>general.actions.text_delete</span>
                        </button>
                        <button class="btn btn-sm btn-outline-primary pull-right test-drive-standalone-btn"
                                type="button"
                                *ngIf="isActionUpdateAllowed(entity)"
                                [disabled]="isActionUpdateDisabled(entity)"
                                (click)="openModalOnUpdate(entity); $event.stopPropagation();">
                            <i class="fa fa-spinner fa-pulse" *ngIf="isActionUpdateProcessing(entity)"></i>
                            <i class="fa fa-pencil" *ngIf="!isActionUpdateProcessing(entity)"></i>
                            <span translate>general.actions.text_update</span>
                        </button>
                        <button class="btn btn-sm btn-outline-info pull-right test-drive-left-standalone-btn"
                                type="button"
                                *ngIf="isActionGetAllowed(entity)"
                                [disabled]="isActionGetDisabled(entity)"
                                (click)="redirectToEntityDetails(entity); $event.stopPropagation();">
                            <i class="fa fa-spinner fa-pulse" *ngIf="isActionGetProcessing(entity)"></i>
                            <i class="fa fa-info" *ngIf="!isActionGetProcessing(entity)"></i>
                            <span translate>general.actions.text_info</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test-drive-many-entities-template-footer"></div>
</div>

<modal #siteDetailsModal
       size="lg"
       [backdrop]="'static'">
    <modal-header>
        <h5 class="modal-title">
            <span class="test-drive-modal-header-text" translate>
                sites.modal.title
            </span>
        </h5>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="siteDetailsModalDismiss(); $event.stopPropagation();">
            <span aria-hidden="true">&times;</span>
        </button>
    </modal-header>
    <modal-body>
        <div *ngIf="isSelectedEntityDefined()">
            <site-details-edit [entity]="selectedEntity"
                               [isReadOnly]="isSiteDetailsComponentReadOnly()"
                               [useValidation]="useValidationForSelectedEntity"
                               [forceAcceptImage]="forceAcceptImage"
                               [isWeekScheduleOpenedByDefault]="isWeekScheduleOpenedByDefault"
                               (resetForceAcceptImage)="onResetForceAcceptImage($event)"></site-details-edit>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-secondary test-drive-modal-close-btn"
                (click)="siteDetailsModalDismiss(); $event.stopPropagation();">
            <span translate>general.actions.modalClose</span>
        </button>
        <button type="button"
                [disabled]="isSiteDetailsModalApplyDisabled()"
                class="btn btn-primary test-drive-modal-apply-btn"
                (click)="siteDetailsModalApply(); $event.stopPropagation();">
            <i class="fa fa-spinner fa-pulse" *ngIf="isSiteDetailsModalApplyProcessing()"></i>
            <i class="fa fa-save" *ngIf="!isSiteDetailsModalApplyProcessing()"></i>
            <span translate>general.actions.modalApply</span>
        </button>
    </modal-footer>
</modal>

<modal #confirmationDeleteModal
       [backdrop]="'static'">
    <modal-header>
        <h5 class="modal-title">
            <span class="test-drive-modal-header-text" translate>
                confirmation.title
            </span>
        </h5>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="closeConfirmationDeleteModal(); $event.stopPropagation();">
            <span aria-hidden="true">&times;</span>
        </button>
    </modal-header>
    <modal-body>
        <span [translateParams]="{ siteName: getDeleteCandidateDisplayText() }"
              translate>
            confirmation.siteDeleteAnswer_siteName
        </span>
    </modal-body>
    <modal-footer>
        <button type="button"
                class="btn btn-secondary test-drive-modal-close-btn"
                (click)="closeConfirmationDeleteModal(); $event.stopPropagation();">
            <span translate>confirmation.cancel</span>
        </button>
        <button type="button"
                class="btn btn-primary test-drive-modal-apply-btn"
                (click)="acceptConfirmationDeleteModal(); $event.stopPropagation();">
            <span translate>confirmation.confirm</span>
        </button>
    </modal-footer>
</modal>