/* =========================================== Wizard-Navigation ============================================ */

.td-tabs {
  background-color: $theme-main-color;
}

.td-nav__tab {
  height: 50px;
  padding-left: 0;
  padding-right: 0;
}

.td-tabs__content {
}

.td-tabs-container {
  margin-top: 5px;
  background-color: $tab-background-color;

}

/* =========================================== Wizard-Content ============================================ */

.td-wizard {
  background-color: $tab-background-color;

}

.td-tab-header {
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  color: $theme-font-color;
  background-color: $theme-main-color;
  font-weight: 200;
  cursor: pointer;
}

.td-tab-header,
.td-tab-header:hover {
  cursor: pointer;
}

.td-tab-header__title {
  display: inline-block;
  transform: scale(1.0);
  transition: transform 300ms;

}

.td-tab-header:hover .td-tab-header__title {
  transform: scale(1.1);
}

.td-tab-header.td-tab-header-locked:hover .td-tab-header__title {
  transform: scale(1.0);
}

.td-tab-header-active {
  box-shadow: 0 5px 0 transparentize($theme-sub-color, 0.1);
  font-weight: 400;
}

.td-tab-header-completed {
  box-shadow: 0 5px 0 $theme-sub-color;
}

.td-tab-header-locked:hover {
  cursor: default;
  font-size: 100%;
}

.tab-title,
.user-details__heading {
  color: #6b6b6b;
  font-size: 28px;
  font-weight: 100;
}

.tab-sub-title,
.user-details__subheading {
  color: #999999;
  font-size: 14px;
  margin: 2px 0px 0px 0px;
  display: table;
}

.user-details__email-input-container {
  margin: 0 auto;
  margin-top: 24px;
}