// =======================================================================//
// wizard-navigation-tab                                                  //
// =======================================================================//

.td-wizard__root {
  height: calc(100% - 55px);
}

.td-wizard {
  background-color: #f3f3f3;
}

// =======================================================================//
// wizard-navigation-tab                                                  //
// =======================================================================//

.wizard-navigation-tab {
  cursor: pointer;
  margin-bottom: 5px;
}

.wizard-navigation-tab__content {
  height: 50px;
}

.wizard-navigation-tab__text {
  text-align: center;
  line-height: 45px; // govnocode TODO: fix later
}

.wizard-navigation-tab__icon {
  text-align: center;
  line-height: 58px; // govnocode TODO: fix later
}

.wizard-navigation-tab--active {
  box-shadow: 0 5px 0 transparentize($theme-sub-color, 0.1);
  font-weight: 400;
}

.wizard-navigation-tab--completed {
  box-shadow: 0 5px 0 $theme-sub-color;
}

.wizard-navigation-tab--locked {
  cursor: default;
}

// =======================================================================//
// wizard-next-button                                                     //
// =======================================================================//

.wizard-navigation-tab-next-button--desktop {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.wizard-navigation-tab-next-button--mobile {
  // position: absolute;
  // width: 100%;
  // bottom: 15px;
  // right: 15px;
}

// =======================================================================//
// wizard-tab-content                                                     //
// =======================================================================//

.wizard-tab-content__title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
}

// =======================================================================//
// wizard-card                                                            //
// =======================================================================//

.td-cards {
  max-height: calc(100% - 170px);
  overflow: auto;
}

@media (max-width: 758px) {
  .td-cards {
    max-height: calc(240px);
    // max-height: calc(100% - 228px);
  }
}

.td-card__content {
  padding: 1em;
  cursor: pointer;
  min-height: 104px;
}

.td-card__body {
  line-height: 1.3;
  font-size: 11pt;
}

// =======================================================================//
// time-intervals                                                         //
// =======================================================================//

.td-time__item {
  text-align: center;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}

.td-time__item--active {
  color: #007bff;
  border: 1px solid #007bff;
}

// =======================================================================//
// custom-scroll                                                          //
// =======================================================================//

.td-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.td-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.td-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #007bff;
}

@media (max-width: 758px) {
  .td-scrollbar::-webkit-scrollbar-track, .td-scrollbar::-webkit-scrollbar, .td-scrollbar::-webkit-scrollbar-thumb {
    display: none;
  }
}