.experts-table-template {
  margin-top: 25px;
}
.experts-table-body {

}
.experts-table-body-column-actions {
  width: 140px;
}
.experts-table-body-column-photo {
  width: 80px;
}
.experts-table-body-column-order {

}
.experts-table-body-column-activity {

}
.experts-table-body-column-first-name {

}
.experts-table-body-column-second-name {

}
.experts-table-body-column-full-name {

}

.expert-modal-header-text {

}
.expert-avatar-image {
  width: 180px;
  height: 180px;
}
.expert-avatar-btns {

}
.expert-avatar-browse {

}
.expert-avatar-change-url {

}
.experts-week-intervals-accordion-control-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.experts-table-body-row-active {
  //background-color: #f1f8e9;
}
.experts-table-body-row-active:hover {
  cursor: pointer;
  //background-color: #dcedc8;
}
.experts-table-body-row-not-active {
  //background-color: #fff3e0;
}
.experts-table-body-row-not-active:hover {
  cursor: pointer;
  //background-color: #ffe0b2;
}