.experts-table-template {
  margin-top: 25px;
}
.experts-table-body {

}
.experts-table-body-column-actions {
  width: 140px;
}

.expert-modal-header-text {

}
.expert-avatar-image {
  width: 180px;
  height: 180px;
}
.expert-avatar-btns {

}
.expert-avatar-browse {

}
.expert-avatar-change-url {

}