<div class="test-drive-modal-body-edit-entity-container">
    <!--<div class="row">-->
        <!--<div class="col-12">-->
            <!--<image-select [isReadOnly]="isImageComponentReadOnly()"-->
                          <!--[imageUrl]="entity.photoUrl"-->
                          <!--[defaultImageUrl]="defaultImageUrl"-->
                          <!--[imageWidth]="imageWidth"-->
                          <!--[imageHeight]="imageHeight"-->
                          <!--[isRounded]="isImageRounded"-->
                          <!--[imageAlt]="imageAlt"-->
                          <!--[columnRules]="columnRules"-->
                          <!--[forceAcceptImage]="forceAcceptImage"-->
                          <!--(imageUrlSelected)="onNewImageSelected($event)"-->
                          <!--(resetForceAcceptImage)="onResetForceAcceptImage($event)"></image-select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <div class="row" *ngIf="!isModalInEditMode">
        <div class="col-12">
            <div class="form-group">
                <label for="userName" translate>users.modal.userName</label>
                <input id="userName"
                       name="userName"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserName(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.username">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserName(entity)" translate>
                    users.modal.userNameHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserName(entity)"
                       translate>
                    users.modal.userNameHelp
                </small>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!isModalInEditMode">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="password" translate>users.modal.userPassword</label>
                <input id="password"
                       type="password"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserPassword(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.password">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserPassword(entity)"
                       translate>
                    users.modal.userPasswordHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserPassword(entity)"
                       translate>
                    {{ validationService.getInvalidUserPasswordMessageKey(entity) }}
                </small>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="confirmPassword" translate>users.modal.userPasswordConfirm</label>
                <input id="confirmPassword"
                       type="password"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserPasswordRepeat(entity, passwordRepeat))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="passwordRepeat">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserPasswordRepeat(entity, passwordRepeat)"
                       translate>
                    users.modal.userPasswordConfirmHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserPasswordRepeat(entity, passwordRepeat)"
                       translate>
                    {{ validationService.getInvalidUserRepeatPasswordMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>

    <!--<div class="row" *ngIf="isModalInEditMode">-->
        <!--<div class="col-12">-->
            <!--<div class="form-group">-->
                <!--<label for="password" translate *ngIf="!isPasswordGeneratorVisible">Reset password</label>-->
                <!--<label for="password" translate *ngIf="isPasswordGeneratorVisible">New password</label>-->
                <!--<br>-->
                <!--<button class="btn btn-primary"-->
                        <!--type="button"-->
                        <!--*ngIf="!isPasswordGeneratorVisible"-->
                        <!--(click)="showPasswordGenerator()">Reset Password</button>-->
                <!--<div class="input-group" *ngIf="isPasswordGeneratorVisible">-->
                    <!--<input class="form-control"-->
                           <!--[ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserPassword(entity))"-->
                           <!--[(ngModel)]="entity.password">-->
                    <!--<div class="input-group-append">-->
                        <!--<button class="btn btn-outline-secondary"-->
                                <!--type="button"-->
                                <!--(click)="hidePasswordGenerator()">Cancel</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<small class="form-text text-muted"-->
                       <!--*ngIf="isPasswordGeneratorVisible && (!isValidationActive() || validationService.isValidUserPassword(entity))"-->
                       <!--translate>-->
                    <!--users.modal.userPasswordHelp-->
                <!--</small>-->
                <!--<small class="form-text test-drive-validation-message"-->
                       <!--*ngIf="isPasswordGeneratorVisible && (isValidationActive() && !validationService.isValidUserPassword(entity))"-->
                       <!--translate>-->
                    <!--{{ validationService.getInvalidUserPasswordMessageKey(entity) }}-->
                <!--</small>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="userEmail" translate>users.modal.email</label>
                <input id="userEmail"
                       type="email"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserEmail(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.email">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserEmail(entity)"
                       translate>
                    users.modal.userEmailHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserEmail(entity)"
                       translate>
                    {{ validationService.getInvalidUserEmailMessageKey(entity)}}
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="userFirstName" translate>users.modal.firstName</label>
                <input id="userFirstName"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserFirstName(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.firstName">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserFirstName(entity)"
                       translate>
                    users.modal.firstNameHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserFirstName(entity)"
                       translate>
                    {{ validationService.getInvalidUserFirstNameMessageKey(entity)}}
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="userSecondName" translate>users.modal.secondName</label>
                <input id="userSecondName"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserSecondName(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.secondName">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserSecondName(entity)"
                       translate>
                    users.modal.secondNameHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserSecondName(entity)"
                       translate>
                    {{ validationService.getInvalidUserSecondNameMessageKey(entity)}}
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="userPhoneNumber" translate>users.modal.phoneNumber</label>
                <input id="userPhoneNumber"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserPhone(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.phoneNumber"
                       [textMask]="{mask: usaPhoneMask}">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserPhone(entity)"
                       translate>
                    users.modal.phoneNumberHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserPhone(entity)"
                       translate>
                    {{ validationService.getInvalidUserPhoneMessageKey(entity)}}
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="userSitesCount" translate>users.modal.sitesCount</label>
                <input id="userSitesCount"
                       type="number"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserSitesCount(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.maxSitesCount">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserSitesCount(entity)"
                       translate>
                    users.modal.sitesCountHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserSitesCount(entity)"
                       translate>
                    {{ validationService.getInvalidUserSitesCountMessageKey(entity)}}
                </small>
            </div>
        </div>
    </div>
</div>
