<div class="test-drive-modal-body-edit-entity-container">
    <!--<div class="row">-->
        <!--<div class="col-12">-->
            <!--<image-select [isReadOnly]="isImageComponentReadOnly()"-->
                          <!--[imageUrl]="entity.photoUrl"-->
                          <!--[defaultImageUrl]="defaultImageUrl"-->
                          <!--[imageWidth]="imageWidth"-->
                          <!--[imageHeight]="imageHeight"-->
                          <!--[isRounded]="isImageRounded"-->
                          <!--[imageAlt]="imageAlt"-->
                          <!--[columnRules]="columnRules"-->
                          <!--[forceAcceptImage]="forceAcceptImage"-->
                          <!--(imageUrlSelected)="onNewImageSelected($event)"-->
                          <!--(resetForceAcceptImage)="onResetForceAcceptImage($event)"></image-select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="userName" translate>users.modal.userName</label>
                <input id="userName"
                       name="userName"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserName(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.username">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserName(entity)" translate>
                    users.modal.userNameHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserName(entity)"
                       translate>
                    {{ validationService.getInvalidUserNameMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="expertTitle" class="test-drive-input-label" translate>
                    experts.modal.userPassword
                </label>
                <input id="expertTitle"
                       name="expertTitle"
                       class="form-control"
                       [ngClass]="extensions.getInputValidationClass(isValidationActive(), validationService.isValidUserName(entity))"
                       [disabled]="isComponentReadOnly()"
                       [(ngModel)]="entity.username">
                <small class="form-text text-muted"
                       *ngIf="!isValidationActive() || validationService.isValidUserName(entity)"
                       translate>
                    experts.modal.expertTitleHelp
                </small>
                <small class="form-text test-drive-validation-message"
                       *ngIf="isValidationActive() && !validationService.isValidUserName(entity)"
                       translate>
                    {{ validationService.getInvalidUserNameMessageKey(entity) }}
                </small>
            </div>
        </div>
    </div>


</div>