.site-overview-template {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.site-overview-template-info-label {

}
.site-overview-template-info-value {
  font-weight: bold;
  font-style: italic;
}
.site-overview-template-body-row-name {
  margin-top: 10px;
}
.site-overview-template-body-row-beauty-id {
  margin-top: 10px;
}
.site-overview-template-body-row-experts {
  margin-top: 10px;
}
.site-overview-template-body-row-beverages {
  margin-top: 10px;
}
.site-overview-template-body-row-routes {
  margin-top: 10px;
}
.integration-guide-text {

}
.integration-guide-code {
  color: #2f6f9f;
}