<div class="row">
    <div class="col-12">
        <h2 class="wizard-tab-content__title">Select preferred route</h2>
        <p>Select the type of drive you'd like to take on your test drive</p>
    </div>
</div>
<div class="row pr-3">
    <td-card class="col-md-6 col-sm-12 p-0 pt-3 pl-3"
             ng-repeat="item in $ctrl.stepData"
             card-image="item.photoUrl"
             card-title="item.name"
             card-desc="item.description"
             is-active-card="item.name == $ctrl.userData.road.title"
             ng-click="itemChanged(item.name)">
    </td-card>
</div>
<p></p>
<td-wizard-step-button tab-id="$ctrl.tabId" next-step="nextStepInner()"></td-wizard-step-button>
